body {
  margin: 0px;
}

.cover {
  color: white;
  height: 400px;
  background-image: url(/imagenes/Game_Fondo.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5) ;
  background-blend-mode: darken;
}

.card {
  border: 0 ;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.container1 {
  background-color: rgba(70, 70, 70, 70);
}